# Ignore compiled files.
*.pyc
*__pycache__

# Ignore virtual environment.
.venv

# Ignore macOS files.
.DS_Store

# Ignore test infrastructure.
.coverage

# Build infrastructure.
*dist
*charex.egg-info
