# Ignore compiled files.
*.pyc
*__pycache__

# Ignore virtual environment.
.venv

# Ignore macOS files.
.DS_Store

# Ignore test infrastructure.
.coverage
.mypy_cache
.pytest_cache

# Build infrastructure.
*build
*dist
*charex.egg-info
*docs/build/html/*
