[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[requires]
python_version = "3.11"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
pycodestyle = "*"
mypy = "*"
rstcheck = "*"
wheel = "*"
build = "*"
twine = "*"
pytest = "*"
coverage = "*"
pytest-mock = "*"
requests = "*"
types-requests = "*"
blessed = "*"
